@charset "UTF-8";



body{
    background-color: dimgray;
    color: aliceblue;
}

h1{
    text-align: center;
    font-size: 5rem;
}

.row{
    padding-left: 22%;
}


div img {
    width: 600px;
    height: 400px;
    padding: 30px;
}

.video iframe {
    margin: auto;
    display: block;
}
h2 {
    padding-top: 30px;
    text-align: center;
    font-size: 2rem;
}

.voltar{
    display: block;
    margin: auto;
    /* background-color: aqua; */
}